* {
    margin: 0;
    padding-bottom: 20px;
}
header {
    height: 400px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 20px;
    height: 100%;
    background: url("https://images.pexels.com/photos/877971/pexels-photo-877971.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#table {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%;
}